extends layout2
include mixins/post


block content
  p=  `blog: ${owner.nickname || owner.email}`
  if posts.length > 0
    .container.blog-container
      each post in posts
        +post(post)
  else
    h2.text-center Sorry i haven't posted just yet