<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title || 'Best blogspot zimbabwe'}
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/materialize/css/materialize.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
  
    main#ultramain

      header
        .navbar-fixed
          nav.blue.lighten-1
            .nav-wrapper
              a.button-collapse(href='#', data-activates='mobile-demo')
                i.material-icons menu
              ul.right.hide-on-med-and-down
                li
                  a(href='/').nav-link_uncolappsable Home
                li
                  a(href='/register').nav-link_uncolappsable Sign up
                li
                  a(href='collapsible.html').nav-link_uncolappsable Javascript
                li
                  a(href='mobile.html').nav-link_uncolappsable Mobile
              ul#mobile-demo.side-nav
                li
                  a(href='/').nav-link_colappsable Home
                li
                  a(href='/register').nav-link_colappsable Sign up
                li
                  a(href='collapsible.html').nav-link_colappsable Javascript
                li
                  a(href='mobile.html').nav-link_colappsable Mobile

      block content

    footer.page-footer.blue.lighten-1
      .container
        .row
          .col.l6.s12
            h5.white-text Footer Content
            p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            h5.white-text Powiazane projekty
            ul
              li
                a.grey-text.text-lighten-3(href='#!') jquery blog poster/editor api
            ul
              li
                a.grey-text.text-lighten-3(href='#!') pure js profile lookup
            ul
              li
                a.grey-text.text-lighten-3(href='#!') pure js blog post search
      .footer-copyright.blue
        .container
          | © 2014 Copyright Text
          a.grey-text.text-lighten-4.right(href='#!') More Links


      script(src="/js/jquery-3.2.1.min.js")
      script(src="/materialize/js/materialize.min.js")
      script(src="/js/main.js")