extends layout

block footerContent
  .container
        .row
          .col.l4.offset-l4.s8.offset-s2.m6.offset-m3
            h5.white-text Check out my other projects
            ul
              li ✔ a way to share your thoughts, opinions, anything
            ul
              li ✔ unlimited post count
            ul
              li ✔ discussions in comment sections