mixin flashesDump(flashes)
  if flashes
      pre= h.dump(locals.flashes)
          - const categories = Object.keys(locals.flashes)
              each category in categories
                  each message in flashes[category]
                      if message.startsWith('http')
                          p(class=`flash flash--${category}`)
                              a(href=message)= message
                              button(onClick='this.parentElement.remove()') &times;
                      else
                          p(class=`flash flash--${category}`)= message
                              button(onClick='this.parentElement.remove()') &times;